body {
  background-color: #ececec;
}

.loaders {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loaders-wrapper {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin: auto;
  left: 0;
  top: 0;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(calc(45deg * var(--i)));
          transform: rotate(calc(45deg * var(--i)));
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.loader:nth-child(1)::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #886477;
}

.loader:nth-child(2)::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #49dad6;
}

.loader:nth-child(3)::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #9bd7cd;
}

.loader:nth-child(4)::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #979588;
}

.loader:nth-child(5)::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #8e614d;
}

.loader:nth-child(6)::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f4a53f;
}

.loader:nth-child(7)::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4e9cc5;
}

.loader:nth-child(8)::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #804000;
}

.loader::before {
  -webkit-animation-name: center;
          animation-name: center;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0.1, 0.175, 1);
          animation-timing-function: cubic-bezier(0.77, 0.1, 0.175, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes center {
  0%,
  100% {
    -webkit-transform: translate(60px, 60px) scale(3);
            transform: translate(60px, 60px) scale(3);
  }
  50% {
    -webkit-transform: translate(30px, 15px) scale(0.7);
            transform: translate(30px, 15px) scale(0.7);
  }
}

@keyframes center {
  0%,
  100% {
    -webkit-transform: translate(60px, 60px) scale(3);
            transform: translate(60px, 60px) scale(3);
  }
  50% {
    -webkit-transform: translate(30px, 15px) scale(0.7);
            transform: translate(30px, 15px) scale(0.7);
  }
}
