.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: 1px solid black;
    /* dioganal 142px */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #181724;
    border-radius: 50%;
    border: none;
}

.box::before {
    content: "";
    position: absolute;
    width: calc(300px*1.5);
    height: 70%;
    border: 1px solid red;
    animation: rotate infinite linear 2s;
    transform-origin: center;
    align-self: center;
    text-align: center;
    background: linear-gradient(45deg, #FB3640, #3DB2FF, #28FFBF, #28FFBF, #FAFF00);
}

.box::after {
    content: "";
    position: absolute;
    inset: 6px;
    background-color: #181724;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}