.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}
.spinner > div{
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes spin{
    0%, 100%{
        transform: translate(0);
    }
    25%{
        transform: translate(165%, 0%);
    }
    50%{
        transform: translate(165%, 165%);
    }
    75%{
        transform: translate(0%, 165%);
    }
}

.spinner div:nth-child(1){
    background: #19A68C;
    animation-delay: -1.5s;

}
.spinner div:nth-child(2){
    animation-delay: -1s;

    background: #F63D3A;
}
.spinner div:nth-child(3){
    background: #FDA543;
    animation-delay: -0.5s;

}

.spinner div:nth-child(4){
    background: #193B48;
}