body {
    background-color: #ececec;
}
@mixin border {
    // border: 1px solid red;
}
.loaders {
    @include border();
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loaders-wrapper {
    @include border();
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    top: 0;
}

$colors__list: (#886477, #49dad6, #9bd7cd, #979588, #8e614d, #f4a53f, #4e9cc5, #804000);

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(45deg * var(--i)));
}
.loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // border: 1px solid rebeccapurple;
}
@mixin circle($color) {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color;
}
@for $i from 1 through length($colors__list) {
    $color: nth($colors__list, $i);
    .loader:nth-child(#{$i})::before {
        // content: "#{$i}";
        @include circle($color);
    }
}

.loader::before {
    animation-name: center;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(0.77, 0.1, 0.175, 1);
    animation-iteration-count: infinite;
}

@keyframes center {
    0%,
    100% {
        transform: translate(60px, 60px) scale(3);
    }
    50% {
        transform: translate(30px, 15px) scale(0.7);
    }
}
